@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-slate-900 text-slate-800 dark:text-white;
}

h1 {
  font-family: 'Lalezar', sans-serif !important;
  font-weight: 400 !important;
}

* {
  font-family: 'Istok Web', sans-serif;
}

#light-bulb {
  @apply ease-in-out duration-100 origin-bottom;
}


#light-switch:hover #light-bulb {
  @apply hover:rotate-3 hover:scale-[1.1] active:-rotate-12;
}